<%- include('partials/header', { title: title }) %>
<div id="wrapper">
  <%- include('partials/sidebar', { currentPage: currentPage }) %>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <%- include('partials/topbar', { user: user, selectedCompany: selectedCompany }) %>
      <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800"><%= isNew ? 'Add Environment Object' : 'Edit Environment Object' %></h1>
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"><%= isNew ? 'Add Environment Object Details' : 'Edit Environment Object Details' %></h6>
          </div>
          <div class="card-body">
            <form method="POST" action="<%= isNew ? '/admin/environment-objects/add' : '/admin/environment-objects/edit/' + environmentObject._id %>" class="user">
              <input type="hidden" name="companyId" value="<%= selectedCompanyID %>">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="<%= isNew ? '' : environmentObject.Name %>" placeholder="Environment Object Name" required>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" placeholder="Description"><%= isNew ? '' : (environmentObject.Description || '') %></textarea>
              </div>
              <div class="form-group">
                <label for="categoryId">Category</label>
                <select class="form-control" id="categoryId" name="categoryId" required>
                  <option value="">Select a Category</option>
                  <% categories.forEach(category => { %>
                    <option value="<%= category._id %>" <%= !isNew && environmentObject.CategoryID && category._id.toString() === environmentObject.CategoryID.toString() ? 'selected' : '' %>>
                      <%= category.Name %>
                    </option>
                  <% }); %>
                </select>
              </div>
              <button type="submit" class="btn btn-primary btn-user"><%= isNew ? 'Create Environment Object' : 'Update Environment Object' %></button>
              <a href="/admin/environment-objects" class="btn btn-secondary btn-user">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </div>
</div>
<%- include('partials/scripts') %>