<%- include('partials/header', { title: 'Dashboard - SB Admin' }) %>
<div id="wrapper">
  <%- include('partials/sidebar') %>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <%- include('partials/topbar', { user: user }) %>
      <div class="container-fluid">
        <p>Welcome to your dashboard, <%= user.Name %>!</p>
      </div>
    </div>
    <%- include('partials/footer') %>
  </div>
</div>
<%- include('partials/scripts') %>