<%- include('partials/header', { title: title }) %>
<div id="wrapper">
  <%- include('partials/sidebar') %>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <%- include('partials/topbar', { user: user }) %>
      <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Notifications</h1>
        <p>Users management page (to be implemented).</p>
      </div>
    </div>
    <%- include('partials/footer') %>
  </div>
</div>
<%- include('partials/scripts') %>
</body>
</html>